.product-card{
    border: 5px solid #F2F3F5;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    /* margin-left: 5px; */
}
.img-fluid{
    width: 100%;
}
.product-card{
    cursor: pointer;
    transition: .5s;
}
.product-card img{
    transition: .5s;
}
.product-card:hover img{
    transform: scale(1.1);
}
.product-card p{
    margin-bottom: 5px;
    margin-top: 5px;
    line-height: 21px;
}
/* .product-card:first-child{
    margin-left: 0px;
} */